@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

/* Button 52 Style - with blue shadow */
.button-floating {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 13px 20px;
  outline: 0;
  border: 2px solid #ffffff;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  color: #5f5fdb;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  z-index: 1;
}

.button-floating::after {
  content: "";
  background-color: #5f5fdb;
  border: 2px solid #5f5fdb;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7px;
  left: 7px;
  transition: all 0.2s ease;
  border-radius: 0.5rem;
  z-index: -1;
}

.button-floating:hover::after {
  top: 0px;
  left: 0px;
}

.button-floating:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-floating:disabled::after {
  display: none;
}

@media (min-width: 768px) {
  .button-floating {
    padding: 13px 50px;
  }
}

